@model FilterApp.Models.PlayersListViewModels

@{
    ViewBag.Title = "Home Page";
}

<form method="get">
    <div class="form-inline">
        <label class="control-label">Team</label>
        @Html.DropDownList("team", Model.Teams as SelectList,
                htmlAttributes: new { @class = "form-control"})

        <label class="control-label">Position</label>
        @Html.DropDownList("position", Model.Positions as SelectList,
                htmlAttributes: new { @class = "form-control"})

        <input type="submit" value="Filter" class="btn btn-default" /> 
    </div>
</form>

<table>
    <tr>
        <th>Player Name</th>
        <th>Age</th>
        <th>Position</th>
        <th>Team</th>
    </tr>
    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(MNodelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(MNodelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(MNodelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(MNodelItem => item.Team.Name)
            </td>
        </tr>
    }
</table>